In [1]:
import pandas as pd

df = pd.read_csv('../data/raw/Meteorite_Landings_20241105.csv')
df.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [2]:
print(df.dtypes)

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year           float64
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

In [3]:
# Check for missing values
df.isna().sum()

name              0
id                0
nametype          0
recclass          0
mass (g)        131
fall              0
year            291
reclat         7315
reclong        7315
GeoLocation    7315
dtype: int64

In [4]:
# Drop rows with missing values and unnecessary columns
df = df.dropna()
df = df.drop(columns='GeoLocation')
df = df.rename(columns={'reclat': 'latitude', 'reclong': 'longitude', 'recclass': 'class'})

In [5]:
# Convert 'year' to integer
df['year'] = df['year'].astype(int)

In [6]:
df.describe()

                 id      mass (g)          year      latitude     longitude
count  38115.000000  3.811500e+04  38115.000000  38115.000000  38115.000000
mean   25343.139000  1.560071e+04   1989.993913    -39.596529     61.309359
std    17395.360205  6.286817e+05     25.469892     46.175830     80.777583
min        1.000000  0.000000e+00    860.000000    -87.366670   -165.433330
25%    10831.500000  6.630000e+00   1986.000000    -76.716670      0.000000
50%    21732.000000  2.909000e+01   1996.000000    -71.500000     35.666670
75%    39887.500000  1.872900e+02   2002.000000      0.000000    157.166670
max    57458.000000  6.000000e+07   2101.000000     81.166670    178.200000

In [7]:
df = df[df['year'] <= 2024]

In [8]:
df.describe()

                 id      mass (g)          year      latitude     longitude
count  38114.000000  3.811400e+04  38114.000000  38114.000000  38114.000000
mean   25342.304481  1.560111e+04   1989.991001    -39.597567     61.310968
std    17394.825419  6.286900e+05     25.463878     46.175991     80.778032
min        1.000000  0.000000e+00    860.000000    -87.366670   -165.433330
25%    10831.250000  6.630000e+00   1986.000000    -76.716670      0.000000
50%    21731.500000  2.908500e+01   1996.000000    -71.500000     35.666670
75%    39886.500000  1.873350e+02   2002.000000      0.000000    157.166670
max    57458.000000  6.000000e+07   2013.000000     81.166670    178.200000

In [9]:
df['class'].sort_values().unique()

array(['Acapulcoite', 'Acapulcoite/Lodranite', 'Acapulcoite/lodranite',
       'Achondrite-prim', 'Achondrite-ung', 'Angrite', 'Aubrite',
       'Aubrite-an', 'Brachinite', 'C', 'C1/2-ung', 'C2', 'C2-ung',
       'C3-ung', 'C3.0-ung', 'C4', 'C4-ung', 'C4/5', 'C5/6-ung', 'C6',
       'CB', 'CBa', 'CBb', 'CH/CBb', 'CH3', 'CI1', 'CK', 'CK3', 'CK3-an',
       'CK4', 'CK4-an', 'CK4/5', 'CK5', 'CK5/6', 'CK6', 'CM', 'CM-an',
       'CM1', 'CM1/2', 'CM2', 'CO3', 'CO3.0', 'CO3.1', 'CO3.2', 'CO3.3',
       'CO3.4', 'CO3.5', 'CO3.6', 'CO3.7', 'CO3.8', 'CR', 'CR-an', 'CR1',
       'CR2', 'CR2-an', 'CR7', 'CV2', 'CV3', 'CV3-an',
       'Chondrite-fusion crust', 'Chondrite-ung', 'Diogenite',
       'Diogenite-an', 'Diogenite-olivine', 'Diogenite-pm', 'E', 'E-an',
       'E3', 'E3-an', 'E4', 'E5', 'E5-an', 'E6', 'EH', 'EH-imp melt',
       'EH3', 'EH3/4-an', 'EH4', 'EH4/5', 'EH5', 'EH6', 'EH6-an', 'EH7',
       'EH7-an', 'EL-melt rock', 'EL3', 'EL4', 'EL4/5', 'EL5', 'EL6',
       'EL6/7', 'EL7', 'Enst achon-ung', 'Eucrite', 'Eucrite-Mg rich',
       'Eucrite-an', 'Eucrite-br', 'Eucrite-cm', 'Eucrite-mmict',
       'Eucrite-pmict', 'Eucrite-unbr', 'Fusion crust', 'H', 'H(5?)',
       'H(?)4', 'H(L)3', 'H(L)3-an', 'H-an', 'H-imp melt',
       'H-melt breccia', 'H-melt rock', 'H-metal', 'H/L3', 'H/L3.5',
       'H/L3.6', 'H/L3.9', 'H/L4', 'H/L4-5', 'H/L5', 'H/L6', 'H/L~4',
       'H3', 'H3 ', 'H3-4', 'H3-5', 'H3-6', 'H3-an', 'H3.0', 'H3.0-3.4',
       'H3.05', 'H3.1', 'H3.10', 'H3.2', 'H3.2-3.7', 'H3.2-6', 'H3.2-an',
       'H3.3', 'H3.4', 'H3.4-5', 'H3.4/3.5', 'H3.5', 'H3.5-4', 'H3.6',
       'H3.6-6', 'H3.7', 'H3.7-5', 'H3.7-6', 'H3.7/3.8', 'H3.8', 'H3.8-4',
       'H3.8-5', 'H3.8-6', 'H3.8-an', 'H3.8/3.9', 'H3.8/4', 'H3.9',
       'H3.9-5', 'H3.9-6', 'H3.9/4', 'H3/4', 'H4', 'H4 ', 'H4(?)', 'H4-5',
       'H4-6', 'H4-an', 'H4-melt breccia', 'H4/5', 'H4/6', 'H5', 'H5 ',
       'H5-6', 'H5-7', 'H5-an', 'H5-melt breccia', 'H5/6', 'H6', 'H6 ',
       'H6-melt breccia', 'H7', 'H?', 'Howardite', 'Howardite-an', 'H~4',
       'H~4/5', 'H~5', 'H~6', 'Iron', 'Iron, IAB complex', 'Iron, IAB-MG',
       'Iron, IAB-an', 'Iron, IAB-sHH', 'Iron, IAB-sHL',
       'Iron, IAB-sHL-an', 'Iron, IAB-sLH', 'Iron, IAB-sLL',
       'Iron, IAB-sLM', 'Iron, IAB-ung', 'Iron, IAB?', 'Iron, IC',
       'Iron, IC-an', 'Iron, IIAB', 'Iron, IIAB-an', 'Iron, IIC',
       'Iron, IID', 'Iron, IID-an', 'Iron, IIE', 'Iron, IIE-an',
       'Iron, IIF', 'Iron, IIG', 'Iron, IIIAB', 'Iron, IIIAB-an',
       'Iron, IIIAB?', 'Iron, IIIE', 'Iron, IIIE-an', 'Iron, IIIF',
       'Iron, IVA', 'Iron, IVA-an', 'Iron, IVB', 'Iron, ungrouped', 'K',
       'K3', 'L', 'L(?)3', 'L(LL)3', 'L(LL)3.05', 'L(LL)3.5-3.7',
       'L(LL)5', 'L(LL)6', 'L-imp melt', 'L-melt breccia', 'L-melt rock',
       'L-metal', 'L/LL', 'L/LL(?)3', 'L/LL3', 'L/LL3-5', 'L/LL3-6',
       'L/LL3.10', 'L/LL3.2', 'L/LL3.4', 'L/LL3.6/3.7', 'L/LL4',
       'L/LL4-6', 'L/LL4/5', 'L/LL5', 'L/LL5-6', 'L/LL5/6', 'L/LL6',
       'L/LL6-an', 'L/LL~4', 'L/LL~5', 'L/LL~6', 'L3', 'L3-4', 'L3-5',
       'L3-6', 'L3-melt breccia', 'L3.0', 'L3.0-3.7', 'L3.0-3.9', 'L3.00',
       'L3.05', 'L3.1', 'L3.10', 'L3.2', 'L3.2-3.5', 'L3.2-3.6', 'L3.3',
       'L3.3-3.5', 'L3.3-3.6', 'L3.3-3.7', 'L3.4', 'L3.4-3.7', 'L3.5',
       'L3.5-3.7', 'L3.5-3.8', 'L3.5-3.9', 'L3.5-5', 'L3.6', 'L3.6-4',
       'L3.7', 'L3.7-3.9', 'L3.7-4', 'L3.7-6', 'L3.7/3.8', 'L3.8',
       'L3.8-6', 'L3.8-an', 'L3.9', 'L3.9-5', 'L3.9-6', 'L3.9/4', 'L3/4',
       'L4', 'L4 ', 'L4-5', 'L4-6', 'L4-an', 'L4-melt breccia', 'L4/5',
       'L5', 'L5 ', 'L5-6', 'L5-7', 'L5-melt breccia', 'L5/6', 'L6',
       'L6 ', 'L6-melt breccia', 'L6/7', 'L7', 'LL', 'LL(L)3',
       'LL-imp melt', 'LL-melt breccia', 'LL-melt rock', 'LL3', 'LL3-5',
       'LL3-6', 'LL3.0', 'LL3.00', 'LL3.05', 'LL3.1', 'LL3.1-3.5',
       'LL3.15', 'LL3.2', 'LL3.3', 'LL3.4', 'LL3.5', 'LL3.6', 'LL3.7',
       'LL3.7-6', 'LL3.8', 'LL3.8-4', 'LL3.8-6', 'LL3.9', 'LL3.9/4',
       'LL3/4', 'LL4', 'LL4-5', 'LL4-6', 'LL4/5', 'LL5', 'LL5-6', 'LL5-7',
       'LL5/6', 'LL6', 'LL6 ', 'LL6(?)', 'LL6-an', 'LL6-melt breccia',
       'LL7', 'LL7(?)', 'LL~3', 'LL~5', 'LL~6', 'Lodranite',
       'Lodranite-an', 'Lunar', 'Lunar (anorth)', 'Lunar (bas. breccia)',
       'Lunar (bas/anor)', 'Lunar (basalt)', 'Lunar (feldsp. breccia)',
       'Lunar (gabbro)', 'Lunar (norite)', 'L~3', 'L~4', 'L~4-6', 'L~5',
       'L~6', 'Martian (OPX)', 'Martian (basaltic breccia)',
       'Martian (chassignite)', 'Martian (nakhlite)',
       'Martian (shergottite)', 'Mesosiderite', 'Mesosiderite-A',
       'Mesosiderite-A1', 'Mesosiderite-A2', 'Mesosiderite-A3',
       'Mesosiderite-A3/4', 'Mesosiderite-A4', 'Mesosiderite-B',
       'Mesosiderite-B1', 'Mesosiderite-B2', 'Mesosiderite-B4',
       'Mesosiderite-C', 'Mesosiderite-C2', 'Mesosiderite-an',
       'Mesosiderite?', 'OC', 'Pallasite', 'Pallasite, PES',
       'Pallasite, PMG', 'Pallasite, PMG-an', 'Pallasite, ungrouped',
       'Pallasite?', 'R', 'R3', 'R3-4', 'R3-5', 'R3-6', 'R3.5-4',
       'R3.5-6', 'R3.6', 'R3.8', 'R3.8-5', 'R3.8-6', 'R3.9', 'R4', 'R5',
       'R6', 'Relict OC', 'Relict iron', 'Stone-uncl', 'Stone-ung',
       'Ureilite', 'Ureilite-an', 'Ureilite-pmict', 'Winonaite'],
      dtype=object)

In [10]:
# Define the classification function
def classify_meteorites(meteorite_class):
    meteorite_class = meteorite_class.lower()  # Normalize to lowercase for case-insensitive matching

    # Achondrite category (specific matches first for accuracy)
    if any(keyword in meteorite_class for keyword in [
        'achondrite', 'acapulcoite', 'lodranite', 'eucrite', 'diogenite', 
        'howardite', 'angrite', 'aubrite', 'ureilite', 'brachinite', 
        'martian', 'lunar', 'winonaite']):
        return 'Achondrite'
    
    # Stony-iron category
    elif any(keyword in meteorite_class for keyword in ['stony-iron', 'mesosiderite', 'pallasite']):
        return 'Stony-iron'
    
    # Iron category
    elif 'iron' in meteorite_class:
        return 'Iron'
    
    # Chondrite category
    elif any(keyword in meteorite_class for keyword in [
        'chondrite', 'c', 'cb', 'ck', 'cm', 'co', 'cr', 'cv', 
        'h', 'l', 'll', 'r', 'k', 'e']) and not 'uncl' in meteorite_class:
        return 'Chondrite'
    
    # Uncategorized (if none of the above matches)
    else:
        return 'Uncategorized'

# Apply the classification function to your dataset
df['category'] = df['class'].apply(classify_meteorites)

In [11]:
# Check the unique values in the 'category' column again
df[df['category'] == 'Unknown']['class'].sort_values().unique()

array([], dtype=object)

In [12]:
df.head(10)

,name,id,nametype,class,mass (g),fall,year,latitude,longitude,category
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333,Chondrite
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,Chondrite
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,Chondrite
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,Achondrite
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,Chondrite
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919,32.10000,71.80000,Chondrite
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1949,44.83333,95.16667,Chondrite
7,Agen,392,Valid,H5,30000.0,Fell,1814,44.21667,0.61667,Chondrite
8,Aguada,398,Valid,L6,1620.0,Fell,1930,-31.60000,-65.23333,Chondrite
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1920,-30.86667,-64.55000,Chondrite

In [13]:
df_test = df[['class', 'category']]

In [14]:
df.to_csv('../data/interim/Meteorite_Landings_cleaned.csv', index=False)